{{#each data}}
<div style="background: white;margin-left:0px;border:solid 0px black; width:70mm; height:50mm;font-family:Arial;">
    <table style="margin-top: {{margin}}px;">
        <tbody>
            <tr>
                <td colspan="2" style="padding-top:10px;padding-top:10px">
                    <div style="color: black; font-size: 30px; font-weight: bold;font-family:Arial">{{sku_name}}</div>
                    <div style="color: black; font-size: 20px; margin-top: -5px;font-family:Arial">{{color}}</div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 0px;padding-left: 0px">
                    <img src="{{barcode}}" style="width:150px;margin-top:2px"><br/>
                    <img src="{{serial_no}}" style="width:135px;margin-top:5px">
                </td>
                <td>
                    <table style="margin-top: -10px; margin-left: 2px;">
                        <tbody>
                            <tr>
                                <td style="border-top: 0px; padding: 2px; color: black; font-size: 12px; font-weight: bold; text-align: center;font-family:Arial">
                                    CM<br>{{cm}}
                                </td>
                                <td style="border-top: 0px; padding: 2px; color: black; font-size: 12px; font-weight: bold; text-align: center;font-family:Arial">
                                    UK<br>{{uk}}
                                </td>
                                <td style="border-top: 0px; padding: 2px; color: black; font-size: 12px; font-weight: bold; text-align: center;font-family:Arial">
                                    USA<br>{{us}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="border-top: 0px;text-align: center">
                                    <div style="color: black; font-size: 75px; font-weight: bold; text-align: center;font-family:Arial; margin-top: -15px; ">{{size}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="border-top: 0px; text-align: center">
                                    <div style="font-size: 10px; padding-top: -25px;font-family:Arial; margin-top: -15px;">{{cetak_ke}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="page-break-after: always;"></div>
{{/each}}