{{#each data}}
<div style="background: white;border:solid 0px black; width:70mm; height:50mm;padding-top:{{margin}}px">
    <div>
        <img src="{{serial_no}}" style="height:125px;margin-left:7.5px"><br/>
        <div>
            <table style="width:100%;margin-top:4px">
            <tbody>
                <tr>
                <td align="center">
                    <img alt="" style="height:30px" src="{{logo_fans}}"/>
                </td>
                <td align="center" style="font-size:14px;font-weight:bold">
                    &nbsp;{{cetak_ke}}&nbsp;
                </td>
                <td align="center">
                    <img alt="" style="height:30px" src="{{logo_ili}}"/>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <div style="page-break-after: always;"></div> -->
{{/each}}